@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 728px) {
    main {
        width: 500px;
        margin: 10px;
        display: block;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
    }
}