@charset "UTF-8";

@media screen and (max-width: 768px) {
    main {
        width: 500px;
        display: block;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        margin-left: 20px;
        margin-right: 20px;
    }
}